{% extends "layout.html" %}
{% block body %}
    <h1>
        SlackCellv2Beta
    </h1>

    <div id="chart"></div>
    <div><p>Sampling Rate: <span id="sampling_rate"></span> ms</p></div>
    <input type="checkbox" id="update_plot" onclick="change_update_plot();" checked>
    <label class="form-check-label" for="update_plot">Update plot</label>
    <div id="current_draw"></div>
    {% if not pi %}
        <div id="leds">
            {% for i in range(158) %}
                <div class="led"></div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="">
        <div class="row pl-3">

            <div class="col-xl-auto">
                <h2>Forces</h2>
                <table class="forces table">
                    <tr>
                        <td>Force:</td>
                        <td id="force" class="text-right">-</td>
                        <td class="text-right">kN</td>
                    </tr>
                    <tr>
                        <td>Max Force:</td>
                        <td id="max_force" class="text-right">-</td>
                        <td class="text-right">kN</td>
                    </tr>
                </table>
                <button class="btn btn-dark btn-block" type="button" onclick="reset_max_force()">
                    Reset Max Force
                </button>

                <button class="btn btn-dark btn-block" id="btn_record_start" type="button" onclick="record_start()">
                    Start Recording
                </button>
                <button class="btn btn-dark btn-block" id="btn_record_stop" type="button" onclick="record_stop()">
                    Stop Recording
                </button>
            </div>

            <div id="pi-stats" class="col-xl-auto">
                <h2>Pi</h2>

                <table class="pi-stats table">
                    <tr>
                        <td>Temperature:</td>
                        <td id="pi_temp" class="text-right">-</td>
                        <td class="text-right">°C</td>
                    </tr>
                    <tr>
                        <td>Load average:</td>
                        <td id="pi_load" class="text-right">-</td>
                        <td class="text-right">%</td>
                    </tr>
                    <tr>
                        <td>Disk usage:</td>
                        <td id="pi_disk" class="text-right">-</td>
                        <td class="text-right">%</td>
                    </tr>
                </table>
                <a href="/calibration" class="btn btn-dark btn-block">Calibration</a>
            </div>


            <div class="led_config col-xl-3">
                <h2>LEDs</h2>
                <div class="input-group">
                        <label class="input-group-text" for="leds_on">LEDs</label>
                        <input type="checkbox" class="ml-3" id="leds_on" onchange="switch_leds()">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="number_leds">Number LEDs</label>
                    </div>
                    <input id="number_leds" class="form-control" type="number" min="0" max="2700" step="1"
                           value="10" onchange="number_leds()">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="led_mode">LED mode</label>
                    </div>
                    <select class="custom-select" id="led_mode" onchange="display_led_mode_options()">
                        <option value="bar">Bar</option>
                        <option value="brightness">Brightness</option>
                        <option value="hue" selected>Hue</option>
                        <option value="rainbow">Rainbow</option>
                    </select>
                </div>

                <div class="input-group led_bar">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="bar_n_centers">Centers</label>
                    </div>
                    <input id="bar_n_centers" class="form-control" type="number" min="0" max="500" step="1"
                           value="2">
                </div>

                <div class="input-group led_rainbow">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="n_rainbows">Rainbows</label>
                    </div>
                    <input id="n_rainbows" class="form-control" type="number" min="1" max="2700" step="1"
                           value="2">
                </div>

                <div class="input-group led_rainbow">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="min_speed">Min speed</label>
                    </div>
                    <input id="min_speed" class="form-control" type="number" min="1" max="1000" step="1"
                           value="3">
                </div>

                <div class="input-group led_rainbow">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="max_speed">Max speed</label>
                    </div>
                    <input id="max_speed" class="form-control" type="number" min="1" max="1000" step="1"
                           value="10">
                </div>

   <!---            checkbox example
    <div class="input-group">
                        <label class="input-group-text" for="bar_inverse">Inverse bars:</label>
                        <input type="checkbox" class="ml-3" id="bar_inverse">
                </div>
      --->

                <div class="input-group led_bar led_brightness">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Color</label>
                    </div>
                    <div id="led_color" class="form-control" style="background-color: rgb(0, 0, 255)">
                    </div>
                </div>

                <div class="input-group led_bar">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Background color:</label>
                    </div>
                    <div id="led_bg_color" class="form-control" style="background-color: rgb(0, 0, 0)">
                    </div>
                </div>

                <div class="input-group led_brightness">
                    <div class="input-group-prepend">
                    <label class="input-group-text" for="brightness_min">Brightness min:</label>
                    </div>
                        <input id="brightness_min" class="form-control px-0" type="range" min="0" max="255" step="1" value="50">
                </div>

                <div class="input-group led_brightness">
                    <div class="input-group-prepend">
                    <label class="input-group-text" for="brightness_max">Brightness max:</label>
                    </div>
                    <input id="brightness_max" class="form-control px-0" type="range" min="0" max="255" step="1" value="255">
                </div>

                <div class="input-group led_hue">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="hue_min">Hue min:</label>
                    </div>
                    <div class="hue form-control px-0">
                        <input id="hue_min" class="hue form-control" type="range" min="0" max="1" step=".01" value=".1">
                    </div>
                </div>

                <div class="input-group led_hue">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="hue_max">Hue max:</label>
                    </div>
                    <div class="hue form-control px-0">
                        <input id="hue_max" class="hue form-control" type="range" min="0" max="1" step=".01" value="1">
                    </div>
                </div>

                <button onclick="set_led_mode()" class="btn btn-dark btn-block" type="button">Set LED mode</button>
            </div>
            <div class="csv col-xl-auto">
                <h2>Recordings</h2>
                <ul id="recordings" class="list-group">
                    {% for csv in list_csv %}
                        <li class="list-group-item text-white"><a
                                href="/static/data/{{ csv }}">{{ csv.replace('.csv', '') }}</a><span
                                class="badge badge-success ml-2">CSV </span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="/static/js/api.js"></script>
    <script src="/static/js/vanilla-picker.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/plotly.js"></script>
    <script src="/static/js/charts.js"></script>
    <script src="/static/js/led.js"></script>
    <script src="/static/js/live_force.js"></script>

{% endblock %}
