
<!DOCTYPE html>
<html>

<head>
    <title>SlackCellv2Beta</title>
    <link rel="shortcut icon" href="/static/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>
  {% block body %}
  {% endblock %}
</body>

</html>
