html, body {
    background-color: #222;
    color: #aaa !important;
}

/*div {
  display: flex;
  flex-direction: column;
}
button {
    max-width: 200px;
}
select {
    width: max-content;
}*/
h1 {
    color: #9c3030;
}

#leds {
    display: flex;
    flex-direction: row;
}

div.led {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #000;
}

.hue {
    background-image: linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
    -webkit-appearance: none;
    padding: 0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 1px solid #222;
    border-radius: 0 0.25rem 0.25rem 0;
}

.hue:hover {
    opacity: 1;
}

.hue::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 36.5px;
    background: #0000;
    cursor: pointer;
    border: black 2px solid;
    border-radius: 1px;
    border-width: 1px 2px;
}

.hue::-moz-range-thumb {
    width: 8px;
    height: 35px;
    background: #0000;
    cursor: pointer;
    border: black 2px solid;
    border-radius: 1px;
    border-width: 1px 2px;
}